*{
    margin:0;
}
header{
    width: 100%;
    background-color:#000000;
    padding-top:30px;
    padding-bottom: 30px;
}
h1{
    font-size: 55px;
    text-align:center;
    color:white;
    font-family: impact;
}
nav{    
    background-color:#212121;
    text-align:center;
}

a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    line-height: 2cm;
    margin-left: 100px;
    margin-right: 100px;
    
}
section{
    background-color: #303030;
    width: 100%;
}
h2{
    color:white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 32px;
}
ul{
    padding-top: 10px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
    list-style-type: none;
    text-align: center;
    color:#ffffff;
}
.premios-mtv{
    color:#ffffff;
    text-align: center;
}
footer{
    background-color: #000000;
    height:196px;
    float:bottom;
    text-align: center;
}
h3{
    color:white;
    padding: 30px;
}
h4{
    color:#ffffff;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    font-family: monospace;
}